<h3>Title: <%= @book.title %></h3>
<p>Author: <%= @book.author %></p>
<p>Genre: <%= @book.genre %></p>
<p>Rating: <%= @book.rating %></p>
<p><%= link_to "Edit This Book", edit_book_path(@book) %> | <%= link_to "Delete This Book", book_path, :data => {
      :confirm => "You sure?", :method => "delete"
    } %></p>

<hr>
<h3>Reviews</h3>
<% if @book.reviews.any? %>
  <ul>
  <% @reviews.each do |review| %>
      <li><%= review.description %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no reviews yet! </p>
  <p><%= link_to "Add a Review", new_book_review_path(@book) %></p>

  <hr>
<% end %>
