<h3>Title: <%= @book.title %></h3>
<p>Author: <%= @book.author %></p>
<p>Genre: <%= @book.genre %></p>
<p>Rating: <%= @book.rating %></p>

<hr>
<h3>Reviews</h3>
<% if @book.reviews.any? %>
  <ul>
  <% @reviews.each do |review| %>
      <li><%= review.description %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no reviews yet! </p>
<% end %>
<p><%= link_to "Add a Review", new_book_review_path(@user, @book) %></p>
<hr>

<p><%= link_to "HOME", books_path %></p>
